.navbar{
  height: 80px;
  display: flex;
  align-items: center;

  .logo{
    width: 5rem;
    height: 2rem;
    background-image: url("../../../assets/logo.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }

}
